# pip install -r requirements.txt

# -------------------------------
# STT 관련
# -------------------------------
sounddevice   # 마이크 입력
openai-whisper   # Whisper STT 모델

# 데이터 처리
pandas      # 데이터셋 로드 및 데이터프레임 처리 
numpy       # 코사인 유사도 계산, 벡터 연산 

# -------------------------------
# 의미 기반 임베딩 모델
# -------------------------------
sentence-transformers   # KR-SBERT 모델 로드 및 문장 임베딩 생성
torch             # sentence-transformers 내부에서 사용하는 딥러닝 엔진

# -------------------------------
# 문자열 유사도 (오타 보정)
# -------------------------------
rapidfuzz     # fuzzy matching  → STT 오인식 보정

# -------------------------------
# 벡터 데이터베이스
# -------------------------------
chromadb    # 메뉴 임베딩 저장 및 vector search 

